#header-content {
  padding: 4.8rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 700;
  font-style: italic;

  line-height: 3.6rem;
}

#header-content nav {
  display: none;
}

#header-content ul {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

#header-content a {
  text-decoration: none;

  font-size: 2rem;
  font-weight: 500;

  line-height: 2.4rem;
}

#header-content #menu-button {
  border: none;

  background: none;

  cursor: pointer;
}

#header-content #menu {
  font-size: 3.2rem;
}

@media (width >= 768px) {
  #header-content h1 {
    font-size: 4.8rem;
  }

  #header-content nav {
    display: block;
  }

  #header-content #menu-button {
    display: none;
  }
}
